@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  background: white;
  scroll-behavior: smooth;
}
.mainContainer {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

/* slider content and items code start  */
.sliderItem {
  height: 100vh;
  overflow: hidden;
}

.sliderItem .sliderBg {
  width: 100%;
  height: max-content;
}

img.slideBgImg {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  object-position: center;
}
.topImgContainer {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.topImgContainer img {
  max-width: 85%;
  width: 85%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderImgContent {
    width: 10%;
    position: relative;
    height: 100vh;
}
.centerImgContainer {
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    margin: 0px auto;
    bottom: 0;
    left: 50%;
}

.centerImgContainer img {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.sliderTextContent {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: 5;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slideNormalTxt {
    width: 45%;
    padding-right: 2%;
}
.slideMainHeading {
    width: 45%;
    justify-content: flex-end;
    display: flex;
    padding-right: 2%;
}

.slideMainHeading h1 {
  color: #fff;
  font-size: 5.6rem;
  line-height: 1;
  margin: 0;
  letter-spacing: -3px;
  font-weight: bold;
}
.slideNormalTxt h3.textHead {
  color: #fff;
  font-size: 4.5rem;
  opacity: 0.5;
  margin: 0;
}

.slideNormalTxt p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}
/* slider content and items code start  */

/* navigation css code start  */
.mainNavContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

nav {
  position: relative;
}

nav ul {
  padding: 0 !important;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

li.brand a.logo {
  font-weight: bold;
  font-size: 3rem;
}

/* ham burger code start  */

/* ham burger code end  */

/* navigation code end  */
